:root {
    --primario: hsl(221, 73%, 60%);
    --primarioOscuro: #153d92;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 287, 2);
    --blanco: #FFF;
    --negro: #000;
    --fuentePrincipal: 'Staatliches', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--blanco);
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--primario);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: var(--primarioOscuro);
}

.hidden {
    display: none;
}
  